.dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    box-sizing: border-box;
    background-image: url("searchicon.png");
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.filter__icon {
    width: 30px;
    height: auto;
    /* padding: 16px; */
    border: none;
    cursor: pointer;
    color: #dc4734;
}

.dropdown {
    margin-top: -15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    margin-top: 40px;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.organisasi__text {
    font-size: 14px;
    margin-top: 2.5px;
    font-weight: 800;
    /* color: black; */

    /* line-height: 1; */
    /* text-transform: capitalize; */
    /* vertical-align: text-top; */
}

.organisasi__text > a {
    color: black;
}
.organisasi {
    margin-left: 20px;
}

.dropdown > h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dc4734;
    line-height: 0.1em;
    margin: 10px 0 20px;
    margin-right: 10px;
}

.dropdown > h6 span {
    background: #f1f1f1;
    padding: 0 10px;
}
.icon {
    /* margin-left: 10px; */
    /* margin-top: 3px; */
    width: 25px;
    height: 25spx;
    align-items: center;
    /* align-self: center;/ */
}

.organisasi__foto {
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 1px 15px 0px rgb(51 51 51 / 20%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow__icon {
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.icon__follow {
    position: absolute;
    top: -30px;
    right: 13px;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    background-color: #fff;
}

.avatarUploaderIndicator-2G-aIZ {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(/assets/images/logo/edit.png);
}

.avatarUploaderHint-3SN212 {
    visibility: hidden;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    white-space: pre;
}

.overflowHidden {
    overflow: hidden;
    position: relative;
}

.theme-dark .avatarUploaderIndicator-2G-aIZ {
    position: absolute;
    background-color: #dcddde;
    background-image: url(/assets/logo/edit.png);
}


.select-box {
    position: relative;
    display: flex;
    width: 340px;
    flex-direction: column;
    text-align: left;
}

.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
    position: absolute;
    z-index: 100;
}

.selected {
    background: #26A3FF;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("https://raw.githubusercontent.com/Godsont/Multiple-Custom-Select-Boxes/ccfb8ab78b0a7c182013673c221dff25e1c0ec87/img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 104px;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* Searchbox */

.search-box input  {
    width: 100%;
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    position: absolute;
    border-radius: 8px 8px 0 0;
    z-index: 100;
    border: 8px solid #2f3640;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.search-box input:focus {
    outline: none;
}

.select-box .options-container.active ~ .search-box input  {
    opacity: 1;
    background-color: white;
    /* z-index: 100; */
    pointer-events: auto;
}
